doctype html
html
  head
    title Tabeller for alle
    link(href='/css/style.css', rel='stylesheet')

  body
    h1 Tabell

    table
      thead
        tr
          th Nr
          th.tekst Lag
          th.nummer K
          th.nummer V
          th.nummer U
          th.nummer T
          th.kort-besk Mål
          th.nummer Målf.
          th.nummer Poeng
      tbody
        -var index = 1
        each lag in lagsliste
          tr
            td=index++
            td= lag.navn
            td.nummer.kort-tall= lag.kamper
            td.nummer.kort-tall= lag.vunnet
            td.nummer.kort-tall= lag.uavgjort
            td.nummer.kort-tall= lag.tapt
            td.kort-besk= lag.pm+' - '+lag.mm
            td.nummer= lag.pm-lag.mm
            td.nummer= lag.poeng
