doctype html
html
  head
    title Tabeller for alle
    link(href='/css/style.css', rel='stylesheet')

    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')


  body
    h1= data.turnering

    table
      thead
        tr
          th Nr
          th.tekst Lag
          th.nummer K
          th.nummer V
          th.nummer U
          th.nummer T
          th.kort-besk Mål
          th.nummer Målf.
          th.nummer Poeng
      tbody
        -var index = 1
        each lag in data.lagsliste
          tr
            td=index++
            td
              a(href="#" id= lag.lagTrimmet class= 'dette-laget')= lag.navn
            td.nummer.kort-tall= lag.kamper
            td.nummer.kort-tall= lag.vunnet
            td.nummer.kort-tall= lag.uavgjort
            td.nummer.kort-tall= lag.tapt
            td.kort-besk= lag.pm+' - '+lag.mm
            td.nummer= lag.pm-lag.mm
            td.nummer= lag.poeng

    div.vis-alle
      a(href="#") Vis alle


    table
      thead
        tr
          th.nummer Runde
          th.nummer Dato
          th.tekst Hjemmelag
          th.tekst Bortelag
          th.nummer Resultat
      tbody
        -var index = 1
        each kamp in data.kampliste
          tr(class= kamp.beggelagTrimmet + " kamper" )
            td= kamp.runde
            td= kamp.dato
            td(class= kamp.hjemmeseier)= kamp.hjemmelag
            td(class= kamp.borteseier)= kamp.bortelag
            td= kamp.resultat

    script(type='text/javascript', src='/js/manipulation.js')
